<template>
  <div class="container">
    <b-alert show v-if="errors.post_id" class="text-center m-2" variant="danger">{{errors.post_id[0]}}</b-alert>
    <div class="row" v-else>
      <div class="col-md-6 offset-md-3" style="padding: 12px;">
        <b-card :title="post.title" img-src="https://picsum.photos/600/300/?image=25" img-alt="Image" img-top tag="article" style="max-width: 20rem;" class="mb-2">
          <b-card-text>
            {{post.body}}
          </b-card-text>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
      data(){
        return {
          post: {},
        }
      },
      methods: {
        async getPost(){
          let response = await this.$axios.$post('/auth/getPostById', {post_id: this.$route.params.id});
          this.post = response.data;
        }
      },
      mounted() {
        this.getPost();
      }
    }
</script>
