<template>
  <div class="container">
    <div>
      <h1>Posts</h1>
      <div class="row">
        <div class="col-md-12">
          <div class="card mt-4">
            <div class="card-header">Create new post</div>
            <div class="card-body">
              <form id="createPostForm" @submit.prevent="createPost">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input
                    id="title"
                    type="text"
                    name="title"
                    :class="{'is-invalid': errors.title}"
                    v-model="form.title"
                    class="form-control">
                  <strong v-if="errors.title" class="invalid-feedback">{{ errors.title[0] }}</strong>
                </div>
                <div class="form-group">
                  <label for="body">Body</label>
                  <textarea
                    name="body"
                    id="body"
                    :class="{'is-invalid': errors.body}"
                    v-model="form.body"
                    class="form-control" cols="30" rows="10"></textarea>
                  <strong v-if="errors.body" class="invalid-feedback">{{ errors.body[0] }}</strong>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <input type="submit" form="createPostForm" class="btn btn-primary btn-block" value="create">
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card mt-4">
            <b-list-group v-for="(post, index) in posts" :key="index">
              <b-list-group-item :to="'/posts/' + post.id">{{post.title}}</b-list-group-item>
            </b-list-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
    export default {
        middleware: "auth",
        data() {
          return {
            form: { title: '', body: ''},
            posts: [],
          };
        },
        mounted() {
          this.getPosts();
        },
        methods:{
          async createPost() {
            try {
              let response = await this.$axios.$post('/auth/setUserPost', this.form);
              this.form.title = '';
              this.form.body = '';
              await this.getPosts();
            } catch (err) {
              console.log(err)
            }
          },
          async getPosts(){
            try{
              let response = await this.$axios.$get('/auth/getAllPosts');
              this.posts = response.data;
            }catch (e) {
              console.log(e);
            }
          }
        },
    }
</script>
