<template>
  <div>
    <b-navbar toggleable="lg" type="light" variant="light">
      <div class="container">
        <nuxt-link class="navbar-brand" to="/">Lara Auth NUXT</nuxt-link>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav v-if="authenticated">
            <nuxt-link class="nav-link" to="/dashboard">home</nuxt-link>
          </b-navbar-nav>

          <b-navbar-nav class="ml-auto">
            <template v-if="authenticated">
              <b-nav-item-dropdown right>
                <!-- Using 'button-content' slot -->
                <template #button-content>
                  <em>{{ user.name }}</em>
                </template>
                <b-dropdown-item to="/profile">Profile</b-dropdown-item>
                <b-dropdown-item to="/posts">Posts</b-dropdown-item>
                <b-dropdown-item @click.prevent="signOut">Sign Out</b-dropdown-item>
              </b-nav-item-dropdown>
            </template>
            <template v-else>
              <nuxt-link class="nav-link" to="/login">Login</nuxt-link>
              <nuxt-link class="nav-link" to="/register">Register</nuxt-link>
            </template>
          </b-navbar-nav>
        </b-collapse>
      </div>
    </b-navbar>
  </div>
</template>

<script>
  export default {
    methods:{
      async signOut(){
          await this.$auth.logout();
      }
    }
  };
</script>
