<template>
  <div>
    <TopNav/>
    <Nuxt />
  </div>
</template>

<script>
  import TopNav from '../layouts/partials/TopNav';

  export default {
    components:{
      TopNav
    },
  };
</script>
