<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card mt-4">
          <div class="card-header">Login</div>
          <div class="card-body">
            <form id="loginForm" @submit.prevent="login">
              <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="email" name="email" :class="{'is-invalid': errors.email}" v-model="form.email" class="form-control">
                <strong v-if="errors.email" class="invalid-feedback">{{ errors.email[0] }}</strong>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" :class="{'is-invalid': errors.password}" name="password" v-model="form.password" class="form-control">
                <strong class="invalid-feedback" v-if="errors.password">{{ errors.password[0] }}</strong>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <input type="submit" form="loginForm" class="btn btn-primary btn-block" value="Login">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    middleware: 'guest',
    data() {
      return {
        form: { email: '', password: ''},
      };
    },
    methods:{
      async login() {
        try {
          await this.$auth.loginWith('local', { data: this.form })
          await this.$route.push(this.$route.query.redirect ? this.$route.query.redirect : '/');
        } catch (err) {
          console.log(err)
        }
      }
    },
  };
</script>
