<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card mt-4">
          <div class="card-header">Register</div>
          <div class="card-body">
            <form id="registerForm" @submit.prevent="register">
              <div class="form-group">
                <label for="name">Name</label>
                <input id="name" type="text" name="name" v-model="form.name" :class="{'is-invalid': errors.name}" class="form-control">
                <strong class="invalid-feedback" v-if="errors.name">{{ errors.name[0] }}</strong>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="email" name="email" :class="{'is-invalid': errors.email}" v-model="form.email" class="form-control">
                <strong v-if="errors.email" class="invalid-feedback">{{ errors.email[0] }}</strong>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" :class="{'is-invalid': errors.password}" name="password" v-model="form.password" class="form-control">
                <strong class="invalid-feedback" v-if="errors.password">{{ errors.password[0] }}</strong>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <input type="submit" form="registerForm" class="btn btn-primary btn-block" value="Register">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    middleware: 'guest',
    data(){
      return {
        form: {email: '', name: '', password: ''},
      };
    },
    methods:{
      async register()
      {
        try
        {
          await this.$axios.post('/auth/register', this.form);

          await this.$auth.loginWith('local',{data: this.form});

          await this.$router.push({name: 'index'});
        }
        catch(err)
        {
          console.log(err);
        }
      }
    },
  };
</script>
